<div class="col-lg-12">
    <div class="row form-group">
        <div class="col-md-3">

            <!--Request options-->
            <div class="row">

                <dropdown [values]="sourceDropdownValues" [text]="'Source'" [dropup]="true" (onChangeEvent)="handleOnSourceChangeEvent($event)"></dropdown>

                <dropdown [values]="targetDropdownValues" [text]="'Target'" [dropup]="false" (onChangeEvent)="handleOnTargetChangeEvent($event)"></dropdown>

            </div>

            <div class="row">
                <button (click)="convert()" class="btn btn-primary">Convert!</button>
            </div>

        </div>

        <div class="col-md-9">
            <textarea [(ngModel)]="model.source" rows=15 name="source" class="form-control edmx-area" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false"></textarea>
        </div>

    </div>

    <codeblock [code]="model.target" [hidden]="model.target == ''"></codeblock>
</div>